
<!DOCTYPE html>
<html lang="en">
<style>
    ul {
        padding: 0%;
        margin: 0 0 0 150px;
        list-style: none;
    }

    nav {
        width: 100%;
        overflow: auto;
        background: black;
    }

    li {
        float: left;
    }

    .logo img {
        position: absolute;
        margin-top: 15px;
        margin-left: 10px;

    }

    nav a {
        width: 100px;
        display: block;
        padding: 20px 15px;
        text-decoration: none;
        font-family: Arial;
        color: #f2f2f2;
        text-align: center;
    }
    .footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    
    bottom: 0;
}
</style>

<head>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
    
    <div class="logo"><a href="#"><img
        src="./public/images/logo.png"
        height="40px" width="120px"></a></div>

<nav>
<ul>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/editProfile">Profile</a></li>
        <li><a href="/editPreff">Preferences</a></li>
        <li><a href="/editSkill">Skills</a></li>
        <li><a href="/admin-login">Admin</a></li>
        <li><a href="/logout">Sign Out</a></li>
    </ul>
</ul>

</nav>
    <div class="container my-4">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default panel-primary">
                    <div class="panel-body back">
                        <center>
                            <h1 class="life">Welcome to Toybank!</h1>
                            <h5>A world where all children are empowered through healthy play.</h5>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <% for(var i=0; i < activity.length; i++) { %>
                <div class="col-lg-4">
                    <form action="/apply/<%= activity[i].id %>" method="post">
                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxKYw-GbA3mkPZLUnOzNUmHR4eDY4bP2QKLsxyTLtM0WepbAXS8PZCJZfEDbbp7sMxf4k&usqp=CAU"
                                class="card-img-top" alt="...">

                            <div class="card-body text-center">
                                <h1 class="card-title"><%= activity[i].name %></h1>
                                <p class="card-text">Date :<%= activity[i].date %></p>
                                <p>Venue :<%= activity[i].venue %></p>
                                <p>time :<%= activity[i].time %></p>
                    
                                <button type="submit" style="background-color: lightgreen; border: none; color: black;font-weight:500;"class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    
    </div>

    </div>

    </div>
    </div>
    <br>
    <br>


    <div class="footer">
        <div class="container">
            <center>
                <p>Copyright &copy;ToyBank. All Rights Reserved | Contact Us: +91 90000 00000</p>
            </center>
        </div>
    </div>
</body>

</html>